<div class="container">
  <div class="calculo">
    <div class="titulo">
      <h4>CDB</h4>
    </div>

    <form [formGroup]="calculadoraForm" (ngSubmit)="calcular()" class="calculadora">
      <div class="calcular-components">
        <div class="seletor">
          <label>Valor Inicial:</label>
          <input id="valor" currencyMask [options]="{ prefix:'R$ ', thousands:'.', decimal:',',     align:'right', allownNegative: false }" type="text" formControlName="valorInicial" />
        </div>
        <div class="seletor">
          <label>Prazo (meses):</label>
          <input type="number" formControlName="prazoMeses" placeholder="Ex: 6">
        </div>
      </div>
      <button type="submit" class="button-calcular" [disabled]="calculadoraForm.invalid">CALCULAR</button>
    </form>
  </div>

  <div *ngIf="resultado" class="resultado active">
    <table>
      <thead id="cabecalho">
        <tr>
          <th>Valor Bruto</th>
          <th>Valor Líquido</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ resultado.valorBruto }}</td>
          <td>{{ resultado.valorLiquido }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
