<div class="container">
  <div class="titulo">
      <h4>CDB</h4>
  </div>

  <form class="calculadora">
    <div class="calcular-components">
      <div class="seletor">
        <label>Data Inicial:</label>
        <input type="text" autocomplete="off" value="01/01/2024">
      </div>
      <div class="seletor">
        <label>Data Final:</label>
        <input type="text" autocomplete="off" value="12/10/2024">
      </div>
      <div class="seletor">
        <label>Valor:</label>
        <input type="text" autocomplete="off" value="R$ 100,00">
      </div>
    </div>

    <button type="button" class="button-calcular">CALCULAR</button>
  </form>
</div>

