<div class="container">
  <div class="calculo">
    <div class="titulo">
      <h4>CDB</h4>
    </div>

    <form [formGroup]="calculadoraForm" (ngSubmit)="calcular()" class="calculadora">
      <div class="calcular-components">
        <div class="seletor">
          <label>Data Inicial:</label>
          <input type="text" formControlName="dataInicial" placeholder="dd/mm/yyyy">
        </div>
        <div class="seletor">
          <label>Data Final:</label>
          <input type="text" formControlName="dataFinal" placeholder="dd/mm/yyyy">
        </div>
        <div class="seletor">
          <label>Valor Inicial:</label>
          <input id="valor" type="text" formControlName="valorInicial" placeholder="R$ 100,00">
        </div>
      </div>
      <button type="submit" class="button-calcular" [disabled]="calculadoraForm.invalid">CALCULAR</button>
    </form>
  </div>
</div>
